.overlay {
  width: inherit;
  position: relative;
  display: flex;
  align-items: center;
}
.overlay img {
  width: inherit;
  height: 35.6rem;
  object-fit: cover;
}
.title {
  width: inherit;
  position: absolute;
  padding: 3.2rem;
  gap: 0.4rem;
  z-index: 1;
}
.title p {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.4px;
}

/* BienvenueBox style */
.input_box {
  display: flex;
  margin-top: 4rem;
  position: relative;
}
.search_input {
  width: 100%;
  height: 4.8rem;
  padding: 0 2rem;
  font-size: 1.6rem;
  letter-spacing: 0.4px;
  color: #777;
  border-radius: 3rem;
  border: none;
}
.search_input:focus {
  outline: none;
}
.search_btn {
  width: 10rem;
  height: 100%;
  cursor: pointer;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(
    to right,
    rgba(var(--tmdbLightGreen), 1) 0%,
    rgba(var(--tmdbLightBlue), 1) 100%
  );
  border-radius: 3rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.search_btn:hover {
  color: #111;
}

/* Wrap 2022 style */

.wrap_text {
  margin-bottom: 0.8rem;
}
.wrap_border {
  width: 34rem;
}
.check_it_box {
  width: 14rem;
}
.check_it_btn {
  padding: 0.8rem;
  border-radius: 2rem;
  font-size: 1.6rem;
  border: 2px solid #fff;
  text-align: center;
  margin-top: 1.6rem;
}
.link {
  text-decoration: none;
  color: inherit;
}
